#camera-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body,
html {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(249, 247, 245);
}

#navbar img {
    margin-top: -15px;
}

.navbar {
    height: 52px;
    background-color: rgb(78, 16, 16) !important;
}

.navbar-brand img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.content {
    margin: 0 auto;
    width: 600px;
}

.body-blur {
    overflow: hidden;
    transition: filter 0.3s ease;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    backdrop-filter: blur(5px);
    z-index: 1;
    display: none;
}

#camera-container {
    position: relative;
}

.breed {
    margin: 0 auto;
    width: 480px;
}

table,
td,
th {
    border: 1px solid #000000;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
    text-align: center;
}

td {
    text-align: center;
    padding: 5px;
}

.button-container {
    width: 100px;
    margin: 0 auto;
}

.button-container button {
    width: 100%;
    color: #fff;
}

.login-content {
    margin: 0 auto;
    width: 100%;
}

.delete-button {
    background-color: rgb(242, 106, 106);
    border-radius: 10px; 
    margin-top: -5px; 
    color: #ffffff; 
    text-align: center;
}

.modal {
    display: none; /* Hide the modal by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    border: 1px solid #888;
    width: 400px;
    height: 400px;
    text-align: center;
    border-radius: 10px;
    z-index: 3;
}

.modal-content {
    width: 100%;
    height: 100%;
    padding: 30px;
    margin: 0;
    z-index: 3;
}

.modal-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}

.update-button {
    background-color: rgb(59, 59, 246);
    border-radius: 10px; 
    margin-top: -5px; 
    color: #ffffff; 
    text-align: center;
}

.login-button {
    background-color: green;
}

.form {
    margin-top: 20px;
}

#content {
    width: 80%;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

/* Styles for the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.counter {
    position: fixed;
    top: 70px;
    right: 20px;
    font-size: 2em;
    background-color: rgb(156, 40, 4);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    /* animation: bounce 0.5s infinite alternate; */
    cursor: pointer;
}

.bouncing {
    animation: bounce 0.5s infinite alternate;
}

.counter-container {
    position: fixed;
    top: 0;
    right: 0;
    transition: right 0.3s ease; /* Add transition for smooth animation */
  }

#toggleButton {
cursor: pointer;
margin-right: 5px;
}


@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-5px);
    }
}