#camera-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body,
html {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}

.content {
    margin: 0 auto;
    width: 600px;
}

.breed {
    margin: 0 auto;
    width: 480px;
}

table,
td,
th {
    border: 1px solid #000000;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
    text-align: center;
}

td {
    text-align: center;
    padding: 5px;
}

.button-container {
    width: 100px;
    /* Set your desired width */
    margin: 0 auto;
    /* Center the content horizontally */
}

.button-container button {
    width: 100%;
    color: #fff;
}

.login-content {
    margin: 0 auto;
    width: 100%;
}

.delete-button {
    background-color: red;
}

.update-button {
    background-color: blue;
}

.login-button {
    background-color: green;
}

.form {
    margin-top: 20px;
}

#content {
    width: 80%;
}