{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        {% if logged_in %}
        <h1 class="text-center">Welcome, {{ current_user }}!</h1>
        {% endif %}
        <br></br>
        <h1 class="text-center">Your Gallery</h1>
        <p class="text-center">See all your past Furtos</p>
    </div>
</div>

{% if tasks|length > 0 %}
<div class="counter" id="funCounter">
    <span id="counterText">> Total Furtos to Date:</span>
    <span id="counterValue">{{noff}}</span>
</div>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var toggleButton = document.getElementById('funCounter');
        var counterContainer = document.querySelector('.counter');
        counterContainer.classList.add('bouncing');
        var counterText = document.getElementById('counterText');

        toggleButton.addEventListener('click', function() {
        var currentRightValue = parseInt(getComputedStyle(counterContainer).right);

        if (currentRightValue === 20) {
            counterContainer.style.right = '-300px'; 
            counterContainer.classList.remove('bouncing');
            counterText.innerText = "< Total Furtos to Date:";
        } else {
            counterContainer.style.right = '20px';
            counterContainer.classList.add('bouncing');
            counterText.innerText = "> Total Furtos to Date:";
        }
        });
    });
</script>

<div class="content">
    <form action="/collection" method="POST">
        <input type="text" name="content" id="content" placeholder="Pup Name...">
        <input type="text" name="breed" id="breed" class="breed" placeholder="Breed">
        <input type="submit" value="Add Furto, Breed">
    </form>

    <form action="/collection" method="GET" id="sortForm">
        <select name="sort" id="sort" onchange="this.form.submit()">
            <option value="date" {% if sort_value == 'date' %}selected{% endif %}>Sort by Date</option>
            <option value="breed" {% if sort_value == 'breed' %}selected{% endif %}>Sort by Breed</option>
        </select>
    </form>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center;"> No Furtos Added :( Add your furry friend above! </h4> 
    {% else %}

    <table>
        <tr>
            <th>Friend:</th>
            <th>Breed:</th>
            <th>Captured:</th>
            <th>Actions:</th>
        </tr>
        <br>
        {% for task in tasks %}
            <tr>
                <td><img src="{{ task.content }}" alt="{{ task.breed }}" style="width: 200px; height: auto;"></td>
                <td>{{ task.breed }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <div class="button-container">
                        <a href="/update/{{task.id}}"><button class="update-button" type="button">Update</button></a>
                    </div>
                    <div class="button-container">
                        <a href="/delete/{{task.id}}"><button class="delete-button" type="button">Delete</button></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% endif %}
</div>
{% endblock %}