{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <br></br>
        {% if current_user %}
            <h1 class="text-center">Welcome, {{ current_user.username }}!</h1>
            <a href="/logout">Logout</a>
        {% else %}
            <h1 class="text-center">Login</h1>
        {% endif %}
    </div>
</div>

<div class="login-content">
    <form action="/login" method="POST">
        <div style="text-align: center;">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Enter your username">
        </div>
        <div style="text-align: center;">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter your password">
        </div>
        <br></br>
        <div style="text-align: center;">
            <button type="submit">Log In</button>
        </div>        
    </form>
    {% if login_failed %}
        <p style="color: red; text-align: center;">Login failed. Please check your username and password.</p>
    {% endif %}

    <br></br>
    <p style="text-align: center;">Don't have an account? <a href="/register">Register Here</a></p>
</div>
{% endblock %}
