{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <br>
        <h1 class="text-center">Register</h1>
    </div>
</div>

<div class="content container">
    <form action="/register" method="POST" class="form-signup">
        <div class="form-group">
            <label for="username" class="sr-only">Username:</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Choose a username" required>
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">Password:</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Choose a password" required>
        </div>
        <div class="form-group">
            <label for="confirm_password" class="sr-only">Confirm Password:</label>
            <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm your password" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Register</button>
        </div>
    </form>

    {% if registration_failed %}
        <p class="text-danger text-center">Registration failed. Please try again.</p>
    {% endif %}
    <br>
    <p class="text-center">Already have an account? <a href="/login" class="btn btn-link">Log in</a></p>
</div>
{% endblock %}
