{% extends "index.html" %}
{% block content %}
    <div id="overlay" class="body-blur"></div>
        <div id="camera-container">
            <div id="camera-frame">
                <img src="{{ url_for('video') }}" width="640" height="480" style="border: 1px solid #000;">
            </div>
            <form method="POST" enctype="multipart/form-data" action="/tasks">
                <button type="submit" class="btn btn-lg btn-primary" name="click" value="Capture" onclick="captureImage()">Capture</button>
            </form>
            <button id="camera-toggle" class="btn btn-lg btn-primary">Turn Camera On</button>
        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <p>Do you want to save the picture or retake?</p>
                <img id="capturedImage" style="max-width: 100%; max-height: 300px; margin-bottom: 20px;">
                <div class="modal-btns">
                    <form method="POST" enctype="multipart/form-data" action="/tasks">
                        <button id="saveBtn" class="btn btn-sm btn-primary" name="click" value="Save">Save</button>
                    </form>
                    <form method="POST" enctype="multipart/form-data" action="/tasks">
                        <button id="retakeBtn" class="btn btn-sm btn-primary" name="click" value="Retake">Retake</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        // show the modal
        function showModal() {
            var modal = document.getElementById('myModal');
            modal.style.display = 'block';

            document.body.style.overflow = 'hidden';
        }   

        // click event handlers for the save and retake buttons
        document.getElementById('saveBtn').addEventListener('click', function() {
            // Handle saving the picture
            alert('Picture saved!');
            closeModal();
        });

        document.getElementById('retakeBtn').addEventListener('click', function() {
            // Handle retaking the picture
            alert('Retake!');
            closeModal();
        });

        function closeModal() {
            var modal = document.getElementById('myModal');
            modal.style.display = 'none';

            document.body.style.overflow = 'auto';
        }
        
        function showBlur() {
            document.getElementById('overlay').style.display = 'block';
        }

        function hideBlur() {
            document.getElementById('overlay').style.display = 'none';
        }

        // Function to capture image and show modal
        function captureImage() {
            showBlur();
            showModal();
            // Update the captured image in the modal
            const capturedImage = document.getElementById('capturedImage');
            capturedImage.src = '{{ url_for("captured_frame") }}';
            capturedImage.style.display = 'block';
        }

        {% if show_modal %}
            captureImage()
        {% endif %}
        
        // Initialize camera status
        let isCameraOn = false;
        // Function to toggle the camera on and off
        function toggleCamera() {
            const cameraFrame = document.getElementById('camera-frame');

            if (isCameraOn) {
                // Hide camera frame
                cameraFrame.style.display = 'none';
                document.getElementById('camera-toggle').textContent = 'Turn Camera On';
                isCameraOn = false;
            } else {
                // Show camera frame
                cameraFrame.style.display = 'block';
                document.getElementById('camera-toggle').textContent = 'Turn Camera Off';
                isCameraOn = true;
            }
        }
        // Add click event handler to the camera toggle button
        document.getElementById('camera-toggle').addEventListener('click', toggleCamera);
    </script>
{% endblock%}