{% extends "index.html" %}
{% block content %}
<div>
    <form method="POST" enctype="multipart/form-data" action="/upload" class="upload-form">
        <label for="file" class="file-label">
            <span class="file-icon">&#x1F4F7;</span> <!-- File icon, you can customize this -->
            <span id="file-label-text">Choose a file</span>
        </label>
        <input type="file" name="file" id="file" class="file-input" onchange="displayFileName(this)" style="display: none;">
        <button type="submit" class="upload-btn" onclick="openPopup()">Upload</button>
        <span id="file-name" class="file-name"></span> <!-- To display selected file name -->
    </form>
    

    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <p>Processing your furto!</p>
        </div>
    </div>

    {% if upload_error %}
        <p style="color: red; text-align: center;">Upload Failed. Please try again.</p>
    {% endif %}
    {% if upload%}
        <p style="color: rgb(0, 255, 76); text-align: center;">Upload Succeeded!</p>
        {% if breed != None%}
        <p style="color: rgb(0, 0, 0); text-align: center;">It seems like you uploaded a {{breed}}</p>
        <div style="margin: auto; display: inline-block; text-align: left">
            <img src="{{ uploaded_image_url }}" style="max-width: 800px; max-height: 500px;" alt="uploaded image">
        </div>
        {% endif %}
    {% endif %}
</div>
<script>
    // Open the popup
    function openPopup() {
        document.getElementById("popup").style.display = "block";
    }

    // Close the popup
    function closePopup() {
        document.getElementById("popup").style.display = "none";
    }

    // Close the popup if the user clicks outside of it
    window.onclick = function(event) {
        var popup = document.getElementById("popup");
        if (event.target == popup) {
            popup.style.display = "none";
        }
    };

    // Display selected file name
    function displayFileName(input) {
        var fileName = input.files[0].name;
        document.getElementById("file-label-text").innerText = fileName;
    }
</script>
{% endblock %}